.ListMovie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListMoviePoster {
    width: 250px;
    height: 375px;
}

.ListMoviePosterWrapper {
    display: flex;
    height: 375px;
    position: relative;
}

.ListMovie:hover {
    transform: scale(1.03);
    transform-origin: center;
}

.ListMovie:hover .ListMoviePoster {
    filter:contrast(0.3);
    border-radius: 16px;
}

.ListMovie:hover .ListMovieOverview {
    visibility: visible;
}

.ListMovieOverview {
    visibility: hidden;
    max-width: 250px;
    max-height: 375px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    background: rgba(0,0,0,0.8);
    border-radius: 16px;
    text-align: center;
    padding: 16px;
    font-weight: 700;
    user-select: none;
    overflow: hidden;
}

.ListMovieButtonWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.ListMovieButtonWrapper button {
    width: 120px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #3aaaff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.ListMovieButtonWrapper .WatchedButton:hover {
    background-color: rgb(49, 155, 0);
    transition: 0.2s;
}

.ListMovieButtonWrapper .RemoveButton:hover {
    background-color: red;
    transition: 0.2s;
}