.Nav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #3aaaff;
    font-weight: 600;
    font-size: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin-bottom: 32px;
    height: 55px;
}

.NavLink {
    color: #ffffff;
    text-decoration: none;
    padding: 12px;
}

.NavLink:hover {
    color: #cccccc;
    cursor: pointer;
}

.NavLink.active {
    border-bottom: 4px solid white;
}

.NavMiddle {
    display: flex;
    margin: 0 auto;
}

.NavRight {
    display: flex;
    position: absolute;
    right: 1em;
}