.Seen {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.SeenMovie {
    display: flex;
    width: 60vw;
}

.SeenMoviePoster {
    width: 210px;
    height: 330px;
}

.SeenInfoHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.WatchedAtText {
    cursor: context-menu;
    user-select: none;
    position: relative;
    display: inline-block;
}

.WatchedAtTooltip {
    color: #fff;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 120px;
    text-align: center;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    background-color: #3aaaff;
    border-radius: 8px;
    padding: 4px;
}

.WatchedAtText:hover .WatchedAtTooltip {
    visibility: visible;
}

.SeenInfoText {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.RatingBox {
    display: flex;
}

.Star {
    user-select: none;
    font-size: 1.4rem;
    color: grey;
}

.Star.checked {
    color: gold;
}

.ReviewBox {
    width: 100%;
    height: 100%;
}

.ReviewBox textarea {
    width: 100%;
    height: 60px;
    background-color: #bbb;
    resize: none;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 8px;
}

button {
    width: 120px;
    height: 35px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #3aaaff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: #65caff;
    transition: 0.2s;
}

.DeleteSeenButton {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 16px;
    font-size: 8px;
}

.DeleteSeenButton:hover {
    background-color: red;
}

.AddedReview button {
    width: 140px;
}

.AddedReview button:hover {
    background-color: red;
}

.AddedReview {
    display: flex;
    font-size: 1.2rem;
    gap: 8px;
    flex-direction: column;
}

.SeenFilterForm {
    display: flex;
    flex-direction: column;
}

.SeenFilterOptions {
    display: flex;
    gap: 16px;
    align-items: center;
}

.SeenFilterOptions div {
    display: flex;
    flex-direction: column;
}

.SeenFilter input {
    width: 50%;
    height: 30px;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    padding: 8px;
    margin-bottom: 8px;
}

#sortByDirectionButton {
    width: 45px;
    height: 45px;
    font-weight: 700;
    font-size: 24px;
}

.Seen label {
    font-size: 20px;
    font-weight: 600;
}

.SeenFilter select {
    background-color: #3aaaff;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    border-radius: 8px;
    height: 45px;
    width: 160px;
    padding: 8px;
}

.SeenInfoText a {
    text-decoration: none;
}

.SeenInfoText a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}