.WatchlistRecent {
    margin: 32px;
}

.WatchlistRecentContainer {
    display: flex;
    gap: 32px;
    padding: 16px;
}

.RecentWatchlistMovie {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    user-select: none;
}

.RecentWatchlistMovie span {
    text-decoration: none;
    color: white;
}

.RecentWatchlistMovie img {
    width: 100px;
}

.RecentWatchlistMovie:hover {
    scale: 1.05;
}

.RecentRedirect {
    text-align: end;
    opacity: 0.7;
    user-select: none;
    color: white;
    text-decoration: none;
}

.RecentRedirect:hover {
    opacity: 1.0;
}