.WatchlistDataWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
    justify-content: center;
}

.WatchlistWrapper h1, h3 {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.WatchlistInfoWrapper {
    display: flex;
    justify-content: center;
}

.GenreCountWrapper {
    display: flex;
    flex-direction: row;
}